<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop
          http://www.springframework.org/schema/aop/spring-aop.xsd">
    <import resource="spring_database.xml"/>

    <!-- 切面配置-->
    <bean id="restfulAop" class="cn.com.yuyang.util.AopXml"/>
    <aop:config>
        <aop:aspect ref="restfulAop">
            <!-- @Before -->
            <aop:pointcut id="pointCutBefore1"
                          expression="execution(* cn.com.yuyang.service.YuanGongGuanLiService.bianji(..))" />
            <!--<aop:before method="logBefore" pointcut-ref="pointCutBefore" />-->

            <!--<aop:pointcut id="restfulPointcut" expression="execution(* cn.com.yuyang.bean.IdBean.setXingMing(..))"/>-->
            <aop:after-returning method="logAfterReturning" returning="result"
                                 pointcut-ref="pointCutBefore1"/>
        </aop:aspect>
        <aop:aspect ref="restfulAop">
            <!-- @Before -->
            <aop:pointcut id="pointCutBefore2"
                          expression="execution(* cn.com.yuyang.service.YuanGongGuanLiService.shanchu(..))" />
            <!--<aop:before method="logBefore" pointcut-ref="pointCutBefore" />-->

            <!--<aop:pointcut id="restfulPointcut" expression="execution(* cn.com.yuyang.bean.IdBean.setXingMing(..))"/>-->
            <aop:after-returning method="logAfterReturning" returning="result"
                                 pointcut-ref="pointCutBefore2"/>
        </aop:aspect>
        <aop:aspect ref="restfulAop">
            <!-- @Before -->
            <aop:pointcut id="pointCutBefore3"
                          expression="execution(* cn.com.yuyang.service.YuanGongGuanLiService.xinzeng(..))" />
            <!--<aop:before method="logBefore" pointcut-ref="pointCutBefore" />-->

            <!--<aop:pointcut id="restfulPointcut" expression="execution(* cn.com.yuyang.bean.IdBean.setXingMing(..))"/>-->
            <aop:after-returning method="logAfterReturning" returning="result"
                                 pointcut-ref="pointCutBefore3"/>
        </aop:aspect>
        <aop:aspect ref="restfulAop">
            <!-- @Before -->
            <aop:pointcut id="pointCutBefore4"
                          expression="execution(* cn.com.yuyang.service.BuMenGuanLiService.xinzeng(..))" />
            <!--<aop:before method="logBefore" pointcut-ref="pointCutBefore" />-->

            <!--<aop:pointcut id="restfulPointcut" expression="execution(* cn.com.yuyang.bean.IdBean.setXingMing(..))"/>-->
            <aop:after-returning method="logAfterReturning" returning="result"
                                 pointcut-ref="pointCutBefore4"/>
        </aop:aspect>
        <aop:aspect ref="restfulAop">
            <!-- @Before -->
            <aop:pointcut id="pointCutBefore5"
                          expression="execution(* cn.com.yuyang.service.BuMenGuanLiService.shanchu(..))" />
            <!--<aop:before method="logBefore" pointcut-ref="pointCutBefore" />-->

            <!--<aop:pointcut id="restfulPointcut" expression="execution(* cn.com.yuyang.bean.IdBean.setXingMing(..))"/>-->
            <aop:after-returning method="logAfterReturning" returning="result"
                                 pointcut-ref="pointCutBefore5"/>
        </aop:aspect>
        <aop:aspect ref="restfulAop">
            <!-- @Before -->
            <aop:pointcut id="pointCutBefore6"
                          expression="execution(* cn.com.yuyang.service.BuMenGuanLiService.bianji(..))" />
            <!--<aop:before method="logBefore" pointcut-ref="pointCutBefore" />-->

            <!--<aop:pointcut id="restfulPointcut" expression="execution(* cn.com.yuyang.bean.IdBean.setXingMing(..))"/>-->
            <aop:after-returning method="logAfterReturning" returning="result"
                                 pointcut-ref="pointCutBefore6"/>
        </aop:aspect>

        <aop:aspect ref="restfulAop">
            <!-- @Before -->
            <aop:pointcut id="pointCutBefore7"
                          expression="execution(* cn.com.yuyang.service.ZhiWuService.insertZhiWu(..))" />
            <!--<aop:before method="logBefore" pointcut-ref="pointCutBefore" />-->

            <!--<aop:pointcut id="restfulPointcut" expression="execution(* cn.com.yuyang.bean.IdBean.setXingMing(..))"/>-->
            <aop:after-returning method="logAfterReturning" returning="result"
                                 pointcut-ref="pointCutBefore7"/>
        </aop:aspect>

        <aop:aspect ref="restfulAop">
            <!-- @Before -->
            <aop:pointcut id="pointCutBefore8"
                          expression="execution(* cn.com.yuyang.service.ZhiWuService.deleteZhiWu(..))" />
            <!--<aop:before method="logBefore" pointcut-ref="pointCutBefore" />-->

            <!--<aop:pointcut id="restfulPointcut" expression="execution(* cn.com.yuyang.bean.IdBean.setXingMing(..))"/>-->
            <aop:after-returning method="logAfterReturning" returning="result"
                                 pointcut-ref="pointCutBefore8"/>
        </aop:aspect>

        <aop:aspect ref="restfulAop">
            <!-- @Before -->
            <aop:pointcut id="pointCutBefore9"
                          expression="execution(* cn.com.yuyang.service.ZhiWuService.updateZhiWu(..))" />
            <!--<aop:before method="logBefore" pointcut-ref="pointCutBefore" />-->

            <!--<aop:pointcut id="restfulPointcut" expression="execution(* cn.com.yuyang.bean.IdBean.setXingMing(..))"/>-->
            <aop:after-returning method="logAfterReturning" returning="result"
                                 pointcut-ref="pointCutBefore9"/>
        </aop:aspect>

    </aop:config>


</beans>