<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yuyang.pojo.BumenMapper">

    <select id="selectOne" resultType="java.lang.Integer" parameterType="cn.com.yuyang.bean.Bumenbean">
        select id from bumen
        <where>
            <if test="id!=0">
                id!=#{id}
            </if>
            <if test="buMenMingCheng!=null">
                and buMenMingCheng=#{buMenMingCheng}
            </if>
        </where>
    </select>

    <select id="selectBuMen" resultType="cn.com.yuyang.pojo.Bumen">
        select id,buMenMingCheng
        from bumen
    </select>

    <select id="selectRenYuan" resultMap="getOneToOneMao">
        select bm.buMenMingCheng,ry.xingMing,dl.shouJiHaoMa,ry.jinJiLianXiDianHua,zw.zhiWuMingCheng,bm.id as id1,ry.id
        from bumen as bm
        join renyuandangan as ry
        join zhiwubiao as zw
        join denglu as dl on bm.id = ry.buMenId and ry.id = dl.dangAnId and ry.zhiWuId = zw.id
        <if test="buMenId != 0">
            and bm.id = #{buMenId}
        </if>
        <if test="xingMing != null and xingMing != ''">
          and ry.xingMing like concat(concat('%',#{xingMing}),'%')
        </if>
        <if test="shouJiHaoMa != null and shouJiHaoMa != ''">
            and ry.shouJiHaoMa like concat(concat('%',#{shouJiHaoMa}),'%')
        </if>
    </select>

    <resultMap id="getOneToOneMao" type="cn.com.yuyang.pojo.Bumen">
        <id property="id" column="id1"/>
        <result property="buMenMingCheng" column="buMenMingCheng"/>
        <collection property="renyuandanganList" ofType="cn.com.yuyang.pojo.Renyuandangan">
            <id property="id" column="id"/>
            <result property="jinJiLianXiDianHua" column="jinJiLianXiDianHua"/>
            <result property="xingMing" column="xingMing"/>
            <association property="zhiwubiao" javaType="cn.com.yuyang.pojo.Zhiwubiao">
                <id property="id" column="id4"/>
                <result property="zhiWuMingCheng" column="zhiWuMingCheng"/>
            </association>
            <association property="denglu" javaType="cn.com.yuyang.pojo.Denglu">
                <id property="id" column="id2"/>
                <result property="dangAnId" column="dangAnId"/>
                <result property="shouJiHaoMa" column="shouJiHaoMa"/>
            </association>
        </collection>
    </resultMap>


    <insert id="insertBuMen" parameterType="cn.com.yuyang.bean.Bumenbean">
        insert into bumen
            buMenMingCheng,
            buMenJianJie,
            dangAnId;
        chuangJianShiJian
        value
        (
        #{buMenMingCheng},
        #{buMenJianJie},
        #{dangAnId},
        #{chuangJianShiJian},
        );
    </insert>
    <update id="updateBuMen" parameterType="cn.com.yuyang.bean.Bumenbean">
        update bumen
        set
        buMenMingCheng=#{buMenMingCheng},
        dangAnId=#{dangAnId},
        <if test="buMenJianJie!=null and buMenJianJie!=''">
            buMenJianJie=#{buMenJianJie},
        </if>
        chuangJianShiJian=#{chuangJianShiJian}


    </update>
    <delete id="deleteBuMen" parameterType="java.lang.Long">
        delete
        from bumen
        where id = #{id}
    </delete>
    <select id="selectBumen" resultType="cn.com.yuyang.pojo.Bumen">
        select id,buMenMingCheng from bumen;
    </select>
    <select id="selectCount" resultType="cn.com.yuyang.bean.Bumenbean"
            parameterType="cn.com.yuyang.pojo.Bumen">
        select
        count(r.id),
        b.id,
        b.dangAnId,
        b.buMenMingCheng,
        b.buMenJianJie,
        b.chuangJianShiJian
        from renyuandangan as r join bumen as b where r.buMenId = b.id
        <if test="buMenMingCheng!=null and buMenMingCheng!=''">
            and b.buMenMingCheng like #{buMenMingCheng}
        </if>
        group by buMenId
    </select>
</mapper>