<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yuyang.pojo.GonggaoMapper">
    <select id="selectGongGao" resultMap="getOneToOneMao">
        select g.gongGaoMingCheng,g.faBuShiJian,g.lanMu,g.neiRong,g.liuLanShu,r.xingMing,g.id as id1
        from gonggao as g
        join renyuandangan as r
        on (g.buMenId = #{buMenId}
        or g.buMenId = 0 or g.dangAnId = #{dangAnId})
        and g.dangAnId = r.id and g.zhuangTai = 1
        <if test="souSuo != null and souSuo != ''">
            and (g.gongGaoMingCheng like concat(concat('%',#{souSuo}),'%') or g.neiRong like
            concat(concat('%',#{souSuo}),'%') or r.xingMing like concat(concat('%',#{souSuo}),'%'))
        </if>
    </select>
    <resultMap id="getOneToOneMao" type="cn.com.yuyang.pojo.Gonggao">
        <id property="id" column="id1"/>
        <result property="dangAnId" column="dangAnId"/>
        <result property="gongGaoMingCheng" column="gongGaoMingCheng"/>
        <result property="faBuShiJian" column="faBuShiJian"/>
        <result property="lanMu" column="lanMu"/>
        <result property="neiRong" column="neiRong"/>
        <result property="liuLanShu" column="liuLanShu"/>
        <result property="buMenId" column="buMenId"/>
        <result property="zhuangTai" column="zhuangTai"/>
        <association property="renyuandangan" javaType="cn.com.yuyang.pojo.Renyuandangan">
            <id property="id" column="id"/>
            <result property="xingMing" column="xingMing"/>
        </association>
    </resultMap>

    <select id="selectGongGaoFaBu" resultType="java.lang.Integer">
        select count(id)
        from gonggao
        where dangAnId = #{dangAnId}
          and zhuangTai = #{zhuangTai};
    </select>

    <insert id="newInsertGongGao">
        insert into gonggao(dangAnId, gongGaoMingCheng, faBuShiJian, lanMu, neiRong, fuJianDiZhi, buMenId, zhuangTai)
        VALUES (#{dangAnId}, #{gongGaoMingCheng}, now(), #{lanMu}, #{neiRong}, #{fuJianDiZhi}, #{buMenId},
                #{zhuangTai});
    </insert>

    <update id="updateGongGao">
        update gonggao
        set gongGaoMingCheng = #{gongGaoMingCheng},
            faBuShiJian      = now(),
            lanMu            = #{lanMu},
            neiRong          = #{neiRong},
            fuJianDiZhi      = #{fuJianDiZhi},
            buMenId          = #{buMenId},
            zhuangTai        = #{zhuangTai}
        where dangAnId = #{dangAnId}
          and id = #{id}
    </update>

    <update id="xiuGaiLiuLanShu">
        update gonggao
        set liuLanShu=#{liuLanShu}
        where id = #{id};
    </update>

    <select id="gongGaoXiangQing" resultMap="getOneToOne">
        select g.gongGaoMingCheng,
               g.faBuShiJian,
               g.lanMu,
               g.neiRong,
               g.liuLanShu,
               ry.xingMing,
               g.id,
               bm.buMenMingCheng,
               g.dangAnId,
               g.fuJianDiZhi
        from gonggao as g
                 join bumen as bm
                 join renyuandangan as ry on g.buMenId = bm.id and g.dangAnId = ry.id and g.id = #{id}
    </select>
    <resultMap id="getOneToOne" type="cn.com.yuyang.pojo.Gonggao">
        <id property="id" column="id"/>
        <result property="gongGaoMingCheng" column="gongGaoMingCheng"/>
        <result property="faBuShiJian" column="faBuShiJian"/>
        <result property="lanMu" column="lanMu"/>
        <result property="neiRong" column="neiRong"/>
        <result property="liuLanShu" column="liuLanShu"/>
        <result property="dangAnId" column="dangAnId"/>
        <result property="fuJianDiZhi" column="fuJianDiZhi"/>
        <association property="bumen" javaType="cn.com.yuyang.pojo.Bumen">
            <id property="id" column="id1"/>
            <result property="buMenMingCheng" column="buMenMingCheng"/>
        </association>
        <association property="renyuandangan" javaType="cn.com.yuyang.pojo.Renyuandangan">
            <id property="id" column="id2"/>
            <result property="xingMing" column="xingMing"/>
        </association>
    </resultMap>

    <update id="shanChuGongGao">
        update gonggao
        set zhuangTai = #{zhuangTai}
        <if test="zhuangTai=1">
            ,set faBuShiJian = now()
        </if>
        where id = #{id}
        and dangAnId = #{dangAnId};
    </update>

    <select id="geRenGongGaoZhuangTai" resultMap="getOneToOneMao">
        select g.gongGaoMingCheng,g.faBuShiJian,g.lanMu,g.neiRong,g.liuLanShu,r.xingMing,g.id as id1
        from gonggao as g
        join renyuandangan as r where g.dangAnId = #{dangAnId} and g.zhuangTai = #{zhuangTai}
        <if test="souSuo != null and souSuo != ''">
            and (g.gongGaoMingCheng like concat(concat('%',#{souSuo}),'%') or g.neiRong like
            concat(concat('%',#{souSuo}),'%') or r.xingMing like concat(concat('%',#{souSuo}),'%'))
        </if>
    </select>
</mapper>