<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yuyang.pojo.GonggaoMapper">
    <select id="selectGongGao" resultMap="getOneToOneMao">
        select g.gongGaoMingCheng,g.faBuShiJian,g.lanMu,g.neiRong,g.liuLanShu,r.xingMing
        from gonggao as g
                 join renyuandangan as r
                      on (g.buMenId = #{id}
                          or g.buMenId is null or g.dangAnId = #{dangAnId})
                          and g.dangAnId = r.id;
    </select>
    <resultMap id="getOneToOneMao" type="cn.com.yuyang.pojo.Gonggao">
        <id property="dangAnId" column="dangAnId"/>
        <result property="gongGaoMingCheng" column="gongGaoMingCheng"/>
        <result property="faBuShiJian" column="faBuShiJian"/>
        <result property="lanMu" column="lanMu"/>
        <result property="neiRong" column="neiRong"/>
        <result property="liuLanShu" column="liuLanShu"/>
        <result property="buMenId" column="buMenId"/>
        <association property="renyuandangan" javaType="cn.com.yuyang.pojo.Renyuandangan">
            <id property="id" column="id"/>
            <result property="xingMing" column="xingMing"/>
        </association>
    </resultMap>

    <select id="selectGongGaoFaBu" resultType="java.lang.Integer">
        select count(id)
        from gonggao
        where dangAnId = #{dangAnId}
          and zhuangTai = #{zhuangTai};
    </select>

    <insert id="newInsertGongGao">
        insert into gonggao(dangAnId, gongGaoMingCheng, faBuShiJian, lanMu, neiRong, fuJianDiZhi, buMenId)
        VALUES (#{dangAnId}, #{gongGaoMingCheng}, now(), #{lanMu}, #{neiRong}, #{fuJianDiZhi}, #{buMenId});
    </insert>
</mapper>