<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yuyang.pojo.GongzuojiluMapper">
  <!-- 查看个人日志，包含审查进度，收到评论 -->
  <resultMap id="selectById" type="cn.com.yuyang.pojo.Gongzuojilu">
    <id property="id" column="id"/>
    <result property="leiXing" column="leiXing"/>
    <result property="shiJian" column="shiJian"/>
    <result property="dangAnId" column="dangAnId"/>
    <result property="zhuangTai" column="zhuangTai"/>
    <result property="jieShouRenId" column="jieShouRenId"/>
    <collection property="rizhipinglun" javaType="cn.com.yuyang.pojo.Rizhipinglun">
      <result property="pingLunNeiRong" column="pingLunNeiRong"/>
    </collection>
  </resultMap>
  <select id="selectRiZhiByDangAnId" resultMap="selectById">
    select gongzuojilu.id, leiXing, shiJian, dangAnId, zhuangTai, jieShouRenId,rizhipinglun.pingLunNeiRong
    from gongzuojilu left join rizhipinglun
    where dangAnId = #{dangAnId}
    <choose>
      <when test="type != null">
        and leiXing = #{type}
      </when>
      <otherwise>
        and leiXing  &lt;&gt; '草稿'
      </otherwise>
    </choose>
    <if test="startDate!=null and endDate!=null">
      and shiJian between #{startDate} and #{endDate}
    </if>
  </select>
  <!-- 工作日志新增，查是否为负责人，是则上传审批人id为1，否则为查到的对应负责人id，最终执行上传 -->
  <select id="selectFuZeRen" resultType="java.lang.Integer">
    select count(dangAnId) from bumen where dangAnId=#{dangAnId}
  </select>
  <select id="selectShenYueRen" resultType="java.lang.Integer">
    select dangAnId
    from renyuandangan,bumen
    where dangAnId=#{dangAnId} and buMenId = bumen.id
  </select>
  <insert id="insertRiZhi">
    insert into gongzuojilu(leiXing, shiJian, dangAnId, zhuangTai, jieShouRenId)
      values (#{leiXing},now(),#{dangAnId},0,#{jieShouRenId})
  </insert>

</mapper>