<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yuyang.pojo.KaoqinMapper">
    <select id="selectUser" resultType="cn.com.yuyang.pojo.Kaoqin" parameterType="java.lang.String">
        select shangWuShangBan, xiaWuXiaBan, kaoqin.zhuangTai, qingJiaZhuangTai, dangTianRiQi
        from kaoqin
        where dangAnId = #{dangAnId}
        <if test="startDate!=null and endDate!=null">
            and dangTianRiQi between #{startDate} and #{endDate}
        </if>
        <if test="date!=null">
            and dangTianRiQi like concat(#{date},'%')
        </if>
        <if test="zhuangTai!=null">
            and zhuangTai = #{zhuangTai}
        </if>

    </select>
    <resultMap id="bingJia" type="cn.com.yuyang.pojo.Kaoqin">
        <result property="dangTianRiQi" column="dangTianRiQi"/>
        <association property="qingjiabiao" javaType="cn.com.yuyang.pojo.Qingjiabiao">
            <result property="qingJiaShiYou" column="qingJiaShiYou"/>
            <result property="zhuangTai" column="zhuangTai"/>
        </association>
    </resultMap>
    <select id="selectBing" resultMap="bingJia" parameterType="java.lang.String">
        select dangTianRiQi,qingJiaShiYou,qingjiabiao.zhuangTai
        from kaoqin,qingjiabiao
        where dangAnId = #{dangAnId} and qingJiaBiaoId = qingjiabiao.id
        <if test="startDate!=null and endDate!=null">
            and dangTianRiQi between #{startDate} and #{endDate}
        </if>
        <if test="date!=null">
            and dangTianRiQi like concat(#{date},'%')
        </if>
    </select>
</mapper>