<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yuyang.pojo.KaoqinMapper">
    <select id="selectKaoQinGuanLi" parameterType="cn.com.yuyang.bean.KaoQinGuanLiBean" resultMap="KaoQinGuanLiMap">
        select kaoqin.id id1,renyuandangan.id id2,bumen.id id3, xingMing,buMenMingCheng,shangWuShangBan, xiaWuXiaBan,
        zhuangTai, qingJiaZhuangTai, dangTianRiQi from kaoqin,renyuandangan,bumen
        where
        kaoqin.dangAnId =renyuandangan.id and buMenId =bumen.id
        <if test="xingMing !=null and xingMing.trim() !=''">
            and xingMing like concat(concat('%',#{xingMing}),'%')
        </if>
        <if test="buMenId != 0 ">
            and buMenId = #{buMenId}
        </if>
        <if test="startTime !=null and startTime !=''">
            and dangTianRiQi >#{startTime}
        </if>
        <if test="endTime !=null and endTime !=''">
            and #{endTime} > dangTianRiQi
        </if>

    </select>
    <resultMap id="KaoQinGuanLiMap" type="cn.com.yuyang.pojo.Kaoqin">
        <id property="id" column="id1"/>
        <!--<result property="dangAnId" column="dangAnId"/>-->
        <result property="shangWuShangBan" column="shangWuShangBan"/>
        <result property="xiaWuXiaBan" column="xiaWuXiaBan"/>
        <result property="zhuangTai" column="zhuangTai"/>
        <result property="qingJiaZhuangTai" column="qingJiaZhuangTai"/>
        <result property="dangTianRiQi" column="dangTianRiQi"/>
        <association property="renyuandangan" javaType="cn.com.yuyang.pojo.Renyuandangan">
            <id property="id" column="id2"/>
            <result property="xingMing" column="xingMing"/>
            <association property="bumen" javaType="cn.com.yuyang.pojo.Bumen">
                <id property="id" column="id3"/>
                <result property="buMenMingCheng" column="buMenMingCheng"/>
            </association>
        </association>
    </resultMap>
    <select id="selectUser" resultType="cn.com.yuyang.pojo.Kaoqin" parameterType="java.lang.String">
        select shangWuShangBan, xiaWuXiaBan, kaoqin.zhuangTai, qingJiaZhuangTai, dangTianRiQi
        from kaoqin
        where dangAnId = #{dangAnId}
        <if test="startDate!=null and endDate!=null">
            and dangTianRiQi between #{startDate} and #{endDate}
        </if>
        <if test="date!=null">
            and dangTianRiQi like concat(#{date},'%')
        </if>
        <if test="zhuangTai!=null">
            and zhuangTai = #{zhuangTai}
        </if>

    </select>
    <resultMap id="bingJia" type="cn.com.yuyang.pojo.Kaoqin">
        <result property="dangTianRiQi" column="dangTianRiQi"/>
        <association property="qingjiabiao" javaType="cn.com.yuyang.pojo.Qingjiabiao">
            <result property="qingJiaShiYou" column="qingJiaShiYou"/>
            <result property="zhuangTai" column="zhuangTai"/>
        </association>
    </resultMap>
    <select id="selectBing" resultMap="bingJia" parameterType="java.lang.String">
        select dangTianRiQi,qingJiaShiYou,qingjiabiao.zhuangTai
        from kaoqin,qingjiabiao
        where dangAnId = #{dangAnId} and qingJiaBiaoId = qingjiabiao.id
        <if test="startDate!=null and endDate!=null">
            and dangTianRiQi between #{startDate} and #{endDate}
        </if>
        <if test="date!=null">
            and dangTianRiQi like concat(#{date},'%')
        </if>
    </select>
    <insert id="excle" parameterType="java.util.List">
        insert into kaoqin(dangAnId, shangWuShangBan, xiaWuXiaBan, zhuangTai,
        dangTianRiQi,qingJiaZhuangTai,qingJiaBiaoId)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.dangAnId},#{item.shangWuShangBan},#{item.xiaWuXiaBan},#{item.zhuangTai},#{item.dangTianRiQi},
             #{item.qingJiaZhuangTai},#{item.qingJiaBiaoId}
            )
        </foreach>
    </insert>
    <resultMap id="resultMap" type="hashMap">
        <result property="chidao" column="chidao"/>
        <result property="zaotui" column="zaotui"/>
        <result property="kuanggong" column="kuanggong"/>
        <result property="qingjia" column="qingjia"/>
    </resultMap>
    <select id="selectCount" resultMap="resultMap">
        select chidao, zaotui, kuanggong, qingjia
        from
            (select count(id) as chidao from kaoqin where zhuangTai = 2 and dangAnId = #{dangAnId}) as chidao,
            (select count(id) as zaotui from kaoqin where zhuangTai = 3 and dangAnId = #{dangAnId}) as zaotui,
            (select count(id) as kuanggong from kaoqin where zhuangTai = 0 and dangAnId = #{dangAnId}) as kuanggong,
            (select count(id) as qingjia from kaoqin where qingJiaBiaoId <![CDATA[ <> ]]> 0 and dangAnId = #{dangAnId}) as qingjia
    </select>
</mapper>