<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yuyang.pojo.QingjiabiaoMapper">
  <select id="selectAll" resultMap="QingjiabiaoMap" parameterType="cn.com.yuyang.bean.QingJiaShenHeBean">
    select  q.id id1,r.id id2, r.xingMing,r.touXiang,shenQingRen, leiXing, qiShiShiJian, zhongZhiShiJian, qingJiaShiYou, shenPiRen, chuLiZhuangTai, shenQingShiJian, zhuangTai from qingjiabiao q ,renyuandangan r
    WHERE q.shenQingRen =r.id and shenPiRen =#{shenPiRen}
    <if test="chuLiZhuangTai!= 2 and chuLiZhuangTai !=null ">
      and chuLiZhuangTai =#{chuLiZhuangTai}
    </if>
    <if test="zhuangTai!= 2 and zhuangTai !=null  and chuLiZhuangTai == 1">
      and zhuangTai =#{zhuangTai}
    </if>
  </select>
  <resultMap id="QingjiabiaoMap" type="cn.com.yuyang.pojo.Qingjiabiao">
    <id property="id" column="id1"/>
    <result property="shenQingRen"  column="shenQingRen"/>
    <result property="leiXing"  column="leiXing"/>
    <result property="qiShiShiJian"  column="qiShiShiJian"/>
    <result property="zhongZhiShiJian"  column="zhongZhiShiJian"/>
    <result property="qingJiaShiYou"  column="qingJiaShiYou"/>
    <result property="shenPiRen"  column="shenPiRen"/>
    <result property="chuLiZhuangTai"  column="chuLiZhuangTai"/>
    <result property="shenQingShiJian"  column="shenQingShiJian"/>
    <result property="zhuangTai"  column="zhuangTai"/>
    <association property="renyuandangan" javaType="cn.com.yuyang.pojo.Renyuandangan">
      <id property="id" column="id2"/>
      <result property="xingMing" column="xingMing"/>
      <result property="touXiang" column="touXiang"/>
    </association>
  </resultMap>


  <update id="updateShenHe" parameterType="cn.com.yuyang.bean.QingJiaShenHeBean">
    update qingjiabiao
    set
      zhuangTai =#{zhuangTai} , chuLiZhuangTai = 1

    where id = #{id};
  </update>

  <insert id="geRenQingJia" parameterType="cn.com.yuyang.bean.GeRenQingJiaBean">
    insert into
      qingjiabiao(shenQingRen,leiXing,qiShiShiJian,zhongZhiShiJian,qingJiaShiYou,shenPiRen,chuLiZhuangTai,shenQingShiJian,zhuangTai)
    values (#{shenQingRen},#{leiXing},#{qiShiShiJian},#{zhongZhiShiJian},#{qingJiaShiYou},
            (select bumen.dangAnId from bumen,renyuandangan where renyuandangan.buMenId = bumen.id and renyuandangan.id = #{shenQingRen}),0,now(),2)
  </insert>
  <update id="tiJiaoShenHe" parameterType="cn.com.yuyang.bean.QingJiaShenHeBean">
    update qingjiabiao
    set
      shenPiRen =#{shangCengShenPiRen}

    where id = #{id};
  </update>

  <select id="chaXunDangTianQingJia" resultType="cn.com.yuyang.pojo.Qingjiabiao">
    select shenQingRen,leiXing from qingjiabiao where #{shiJian} > qiShiShiJian and zhongZhiShiJian > #{shiJian};
  </select>

  <select id="countQingJia" resultType="java.lang.Integer">
    select count(id) from qingjiabiao where  shenPiRen=#{dangAnId} and chuLiZhuangTai=0;
  </select>

</mapper>