<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yuyang.pojo.RenyuandanganMapper">
    <select id="selectQuanXian" resultMap="getOneToOneMao">
        select r.id as id1,
               z.id as id2,
               z.faBuXiuGaiGongGao,
               z.quanXianGuanLi,
               z.caoZuoYuanGong,
               z.chaKanKaoQin,
               z.daiBanShiXiang,
               z.qinJiaShenPi,
               z.chaKanYuanGong
        from zhiwubiao as z
                 join renyuandangan as r
        where r.zhiWuId = z.id
          and r.id = #{id}
    </select>

    <resultMap id="getOneToOneMao" type="cn.com.yuyang.pojo.Renyuandangan">
        <id property="id" column="id1"/>
        <association property="zhiwubiao" javaType="cn.com.yuyang.pojo.Zhiwubiao">
            <id property="id" column="id2"/>
            <result property="faBuXiuGaiGongGao" column="faBuXiuGaiGongGao"/>
            <result property="buMenCaoZuo" column="buMenCaoZuo"/>
            <result property="caoZuoYuanGong" column="caoZuoYuanGong"/>
            <result property="chaKanKaoQin" column="chaKanKaoQin"/>
            <result property="daiBanShiXiang" column="daiBanShiXiang"/>
            <result property="qinJiaShenPi" column="qinJiaShenPi"/>
            <result property="chaKanYuanGong" column="chaKanYuanGong"/>
        </association>
    </resultMap>

    <select id="selectGeRenChaXun" resultType="cn.com.yuyang.pojo.Renyuandangan"
            parameterType="cn.com.yuyang.bean.Bumenbean">
        select r.id,
               r.xingMing,
               r.ruZhiShiJian,
               r.heTongDaoQiShiJian,
               r.xingBie,
               r.shengRi,
               r.jinJiLianXiDianHua,
               r.xianZhuZhi,
               r.xueLi,
               r.youXiang,
               r.biYeYuanXiao,
               r.zaiZhiZhuangTai,
               r.minZu,
               r.jiGuan,
               r.shenFenZheng,
               r.zhengZhiMianMao,
               r.hunYin,
               r.nianLing,
               r.beiZhu,
               r.zhiWuId,
               r.buMenId,
               r.touXiang
        from renyuandangan as r
        where r.xingMing = #{xingMing}
    </select>

    <select id="selectCount" resultType="cn.com.yuyang.bean.Bumenbean"
            parameterType="cn.com.yuyang.pojo.Bumen">
        select
        count(r.id),
        b.id,
        b.dangAnId,
        b.buMenMingCheng,
        b.buMenJianJie,
        b.chuangJianShiJian
        from renyuandangan as r join bumen as b where r.buMenId = b.id
        <if test="buMenMingCheng!=null and buMenMingCheng!=''">
            and b.buMenMingCheng like #{buMenMingCheng}
        </if>
        group by buMenId
    </select>

    <update id="updateYuanGong" parameterType="cn.com.yuyang.bean.YuanGongBean">
        update renyuandangan
        <set>
            <if test="xingMing!=null and xingMing!=''">
                xingMing=#{xingMing},
            </if>
            <if test="jiGuan!=null and jiGuan!=''">
                jiGuan=#{jiGuan},
            </if>
            <if test="minZu!=null and minZu!=''">
                minZu=#{minZu},
            </if>
            <if test="shenFenZheng!=null and shenFenZheng!=''">
                shenFenZheng=#{shenFenZheng},
            </if>
            <if test="youXiang!=null and youXiang!=''">
                youXiang=#{youXiang},
            </if>
            <if test="xianZhuZhi!=null and xianZhuZhi!=''">
                xianZhuZhi=#{xianZhuZhi},
            </if>
            <if test="biYeYuanXiao!=null and biYeYuanXiao!=''">
                biYeYuanXiao=#{biYeYuanXiao},
            </if>
            <if test="zaiZhiZhuangTai!=0">
                zaiZhiZhuangTai=#{zaiZhiZhuangTai},
            </if>
            <if test="nianLing!=0">
                nianLing=#{nianLing},
            </if>
            <if test="xueLi!=null and xueLi!=''">
                xueLi=#{xueLi},
            </if>
            <if test="zhengZhiMianMao!=null and zhengZhiMianMao!=''">
                zhengZhiMianMao=#{zhengZhiMianMao},
            </if>
            <if test="ruZhiShiJian!=null and ruZhiShiJian!=''">
                ruZhiShiJian=#{ruZhiShiJian},
            </if>
            <if test="shengRi!=null and shengRi!=''">
                shengRi=#{shengRi},
            </if>
            <if test="xingBie!=null and xingBie!=''">
                xingBie=#{xingBie},
            </if>
            <if test="hunYin!=null and hunYin!=''">
                hunYin=#{hunYin},
            </if>
            <if test="heTongDaoQiShiJian!=null and heTongDaoQiShiJian!=''">
                heTongDaoQiShiJian=#{heTongDaoQiShiJian},
            </if>
            <if test="jinJiLianXiDianHua!=null and jinJiLianXiDianHua!=''">
                jinJiLianXiDianHua=#{jinJiLianXiDianHua},
            </if>
            <if test="beiZhu!=null and beiZhu!=''">
                beiZhu=#{beiZhu},
            </if>
            <if test="touXiang!=null and touXiang!=''">
                touXiang=#{touXiang},
            </if>
            <if test="zhiWuId!=null and zhiWuId!=''">
                zhiWuId=#{zhiWuId},
            </if>
            <if test="buMenId!=null and buMenId!=''">
                buMenId=#{buMenId},
            </if>
        </set>
        where id=#{dangAnId}
    </update>

    <update id="updateDenglu" parameterType="cn.com.yuyang.bean.YuanGongBean">
        update denglu
        <set>
            <if test="shouJiHaoMa!=null and shouJiHaoMa!=''">
                shouJiHaoMa=#{shouJiHaoMa},
            </if>
            <if test="miMa!=null and miMa!=''">
                miMa=#{miMa}
            </if>
            <if test="zhuangTai!=0'">
                zhuangTai=#{zhuangTai}
            </if>
        </set>
        where dangAnId=#{dangAnId}
    </update>
    <update id="deleteDenglu" parameterType="cn.com.yuyang.bean.YuanGongBean">
        update denglu
        set zhuangTai= -1
        where dangAnId = #{dangAnId}
    </update>
    <update id="deleteRenyuandangan" parameterType="cn.com.yuyang.bean.YuanGongBean">
        update renyuandangan
        set zaiZhiZhuangTai=2,
            zhiWuId=0,
            buMenId=0
        where dangAnId = #{dangAnId}
    </update>

    <select id="selectHaoYou" resultMap="getOneToOne">
        select bm.buMenMingCheng,
               ry.xingMing,
               ry.jinJiLianXiDianHua,
               zw.zhiWuMingCheng,
               ry.beiZhu,
               ry.youXiang,
               ry.xingBie,
               ry.touXiang,
               dl.shouJiHaoMa,
               dl.gongHao
        from renyuandangan as ry
                 join zhiwubiao as zw
                 join denglu as dl
                 join bumen as bm on ry.buMenId = bm.id and ry.zhiWuId = zw.id and ry.id = dl.dangAnId and ry.id = #{dangAnId}
    </select>

    <resultMap id="getOneToOne" type="cn.com.yuyang.pojo.Renyuandangan">
        <id property="id" column="id"/>
        <result property="jinJiLianXiDianHua" column="jinJiLianXiDianHua"/>
        <result property="xingMing" column="xingMing"/>
        <result property="beiZhu" column="beiZhu"/>
        <result property="youXiang" column="youXiang"/>
        <result property="xingBie" column="xingBie"/>
        <result property="touXiang" column="touXiang"/>
        <association property="denglu" javaType="cn.com.yuyang.pojo.Denglu">
            <id property="id" column="id2"/>
            <result property="dangAnId" column="dangAnId"/>
            <result property="shouJiHaoMa" column="shouJiHaoMa"/>
            <result property="gongHao" column="gongHao"/>
        </association>
        <association property="bumen" javaType="cn.com.yuyang.pojo.Bumen">
            <id property="id" column="id3"/>
            <result property="buMenMingCheng" column="buMenMingCheng"/>
        </association>
        <association property="zhiwubiao" javaType="cn.com.yuyang.pojo.Zhiwubiao">
            <id property="id" column="id4"/>
            <result property="zhiWuMingCheng" column="zhiWuMingCheng"/>
        </association>
    </resultMap>
</mapper>