<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yuyang.pojo.RenyuandanganMapper">
    <select id="selectQuanXian" resultMap="getOneToOneMao">
        select r.id as id1,
               z.id as id2,
               z.faBuXiuGaiGongGao,
               z.quanXianGuanLi,
               z.caoZuoYuanGong,
               z.chaKanKaoQin,
               z.daiBanShiXiang,
               z.qinJiaShenPi,
               z.chaKanYuanGong
        from zhiwubiao as z
                 join renyuandangan as r
        where r.zhiWuId = z.id
          and r.id = #{id}
    </select>

    <resultMap id="getOneToOneMao" type="cn.com.yuyang.pojo.Renyuandangan">
        <id property="id" column="id1"/>
        <association property="zhiwubiao" javaType="cn.com.yuyang.pojo.Zhiwubiao">
            <id property="id" column="id2"/>
            <result property="faBuXiuGaiGongGao" column="faBuXiuGaiGongGao"/>
            <result property="buMenCaoZuo" column="buMenCaoZuo"/>
            <result property="caoZuoYuanGong" column="caoZuoYuanGong"/>
            <result property="chaKanKaoQin" column="chaKanKaoQin"/>
            <result property="daiBanShiXiang" column="daiBanShiXiang"/>
            <result property="qinJiaShenPi" column="qinJiaShenPi"/>
            <result property="chaKanYuanGong" column="chaKanYuanGong"/>
        </association>
    </resultMap>

    <select id="selectGeRenChaXun" resultType="cn.com.yuyang.pojo.Renyuandangan"
            parameterType="cn.com.yuyang.bean.Bumenbean">
        select r.id,
               r.xingMing,
               r.ruZhiShiJian,
               r.heTongDaoQiShiJian,
               r.xingBie,
               r.shengRi,
               r.jinJiLianXiDianHua,
               r.xianZhuZhi,
               r.xueLi,
               r.youXiang,
               r.biYeYuanXiao,
               r.zaiZhiZhuangTai,
               r.minZu,
               r.jiGuan,
               r.shenFenZheng,
               r.zhengZhiMianMao,
               r.hunYin,
               r.nianLing,
               r.beiZhu,
               r.zhiWuId,
               r.buMenId,
               r.touXiang
        from renyuandangan as r
        where r.xingMing = #{xingMing}
    </select>


    <update id="updateYuanGong" parameterType="cn.com.yuyang.bean.YuanGongBean">
        update renyuandangan
        <set>
            <if test="xingMing!=null and xingMing!=''">
                xingMing=#{xingMing},
            </if>
            <if test="jiGuan!=null and jiGuan!=''">
                jiGuan=#{jiGuan},
            </if>
            <if test="minZu!=null and minZu!=''">
                minZu=#{minZu},
            </if>
            <if test="shenFenZheng!=null and shenFenZheng!=''">
                shenFenZheng=#{shenFenZheng},
            </if>
            <if test="youXiang!=null and youXiang!=''">
                youXiang=#{youXiang},
            </if>
            <if test="xianZhuZhi!=null and xianZhuZhi!=''">
                xianZhuZhi=#{xianZhuZhi},
            </if>
            <if test="biYeYuanXiao!=null and biYeYuanXiao!=''">
                biYeYuanXiao=#{biYeYuanXiao},
            </if>
            <if test="zaiZhiZhuangTai!=0">
                zaiZhiZhuangTai=#{zaiZhiZhuangTai},
            </if>
            <if test="nianLing!=0">
                nianLing=#{nianLing},
            </if>
            <if test="xueLi!=null and xueLi!=''">
                xueLi=#{xueLi},
            </if>
            <if test="zhengZhiMianMao!=null and zhengZhiMianMao!=''">
                zhengZhiMianMao=#{zhengZhiMianMao},
            </if>
            <if test="ruZhiShiJian!=null and ruZhiShiJian!=''">
                ruZhiShiJian=#{ruZhiShiJian},
            </if>
            <if test="shengRi!=null and shengRi!=''">
                shengRi=#{shengRi},
            </if>
            <if test="xingBie!=null and xingBie!=''">
                xingBie=#{xingBie},
            </if>
            <if test="hunYin!=null and hunYin!=''">
                hunYin=#{hunYin},
            </if>
            <if test="heTongDaoQiShiJian!=null and heTongDaoQiShiJian!=''">
                heTongDaoQiShiJian=#{heTongDaoQiShiJian},
            </if>
            <if test="jinJiLianXiDianHua!=null and jinJiLianXiDianHua!=''">
                jinJiLianXiDianHua=#{jinJiLianXiDianHua},
            </if>
            <if test="beiZhu!=null and beiZhu!=''">
                beiZhu=#{beiZhu},
            </if>
            <if test="touXiang!=null and touXiang!=''">
                touXiang=#{touXiang},
            </if>
            <if test="zhiWuId!=null and zhiWuId!=''">
                zhiWuId=#{zhiWuId},
            </if>
            <if test="buMenId!=null and buMenId!=''">
                buMenId=#{buMenId},
            </if>
        </set>
        where id=#{dangAnId}
    </update>

    <update id="updateDenglu" parameterType="cn.com.yuyang.bean.YuanGongBean">
        update denglu
        <set>
            <if test="shouJiHaoMa!=null and shouJiHaoMa!=''">
                shouJiHaoMa=#{shouJiHaoMa},
            </if>
            <if test="miMa!=null and miMa!=''">
                miMa=#{miMa}
            </if>
            <if test="zhuangTai!=0'">
                zhuangTai=#{zhuangTai}
            </if>
        </set>
        where dangAnId=#{dangAnId}
    </update>
    <update id="deleteDenglu" parameterType="cn.com.yuyang.bean.YuanGongBean">
        update denglu
        set zhuangTai= -1
        where dangAnId = #{dangAnId}
    </update>
    <update id="deleteRenyuandangan" parameterType="cn.com.yuyang.bean.YuanGongBean">
        update renyuandangan
        set zaiZhiZhuangTai=2,
            zhiWuId=0,
            buMenId=0
        where dangAnId = #{dangAnId}
    </update>

    <select id="selectHaoYou" resultMap="getOneToOne">
        select bm.buMenMingCheng,
               ry.xingMing,
               ry.jinJiLianXiDianHua,
               zw.zhiWuMingCheng,
               ry.beiZhu,
               ry.youXiang,
               ry.xingBie,
               ry.touXiang,
               dl.shouJiHaoMa,
               dl.gongHao,
               ry.ruZhiShiJian,
               ry.xueLi,
               ry.id,
               ry.nianLing
        from renyuandangan as ry
                 join zhiwubiao as zw
                 join denglu as dl
                 join bumen as bm on ry.buMenId = bm.id and ry.zhiWuId = zw.id and ry.id = dl.dangAnId and ry.id = #{dangAnId}
    </select>

    <resultMap id="getOneToOne" type="cn.com.yuyang.pojo.Renyuandangan">
        <id property="id" column="id"/>
        <result property="jinJiLianXiDianHua" column="jinJiLianXiDianHua"/>
        <result property="xingMing" column="xingMing"/>
        <result property="beiZhu" column="beiZhu"/>
        <result property="youXiang" column="youXiang"/>
        <result property="xingBie" column="xingBie"/>
        <result property="touXiang" column="touXiang"/>
        <result property="ruZhiShiJian" column="ruZhiShiJian"/>
        <result property="xueLi" column="xueLi"/>
        <result property="nianLing" column="nianLing"/>
        <association property="denglu" javaType="cn.com.yuyang.pojo.Denglu">
            <id property="id" column="id2"/>
            <result property="dangAnId" column="dangAnId"/>
            <result property="shouJiHaoMa" column="shouJiHaoMa"/>
            <result property="gongHao" column="gongHao"/>
        </association>
        <association property="bumen" javaType="cn.com.yuyang.pojo.Bumen">
            <id property="id" column="id3"/>
            <result property="buMenMingCheng" column="buMenMingCheng"/>
        </association>
        <association property="zhiwubiao" javaType="cn.com.yuyang.pojo.Zhiwubiao">
            <id property="id" column="id4"/>
            <result property="zhiWuMingCheng" column="zhiWuMingCheng"/>
        </association>
    </resultMap>

    <select id="chaXunBuMenId" resultType="java.lang.Integer">
        select buMenId
        from oadb.renyuandangan
        where id = #{dangAnId};
    </select>

    <update id="updateXinXi" parameterType="cn.com.yuyang.bean.YuanGongBean">
        update renyuandangan set id=#{dangAnId}
        <if test="youXiang !=null and youXiang !=''">
            ,youXiang=#{youXiang}
        </if>
        <if test="jinJiLianXiDianHua !=null and jinJiLianXiDianHua !=''">
            ,jinJiLianXiDianHua=#{jinJiLianXiDianHua}
        </if>
        <if test="beiZhu !=null and beiZhu !=''">
            ,beiZhu=#{beiZhu}
        </if>

        where id=#{dangAnId};
    </update>

    <update id="updateXinXi2" parameterType="cn.com.yuyang.bean.YuanGongBean">
        update DengLu set dangAnId=#{dangAnId}
        <if test="shouJiHaoMa !=null and shouJiHaoMa !=''">
            ,shouJiHaoMa=#{shouJiHaoMa}
        </if>
        <if test="miMa2 !=null and miMa2 !=''">
            ,miMa=#{miMa2}
        </if>
        where dangAnId=#{dangAnId};
    </update>


    <select id="shouYeRiZhi" resultMap="shouYeRiZhi">

        select g.id,g.neiRong,g.shiJian,g.leiXing,r.xingMing
        from gongzuojilu as g,
             renyuandangan as r
        where g.dangAnId = r.id
          and (g.dangAnId = #{dangAnId} or g.jieShouRenId = #{dangAnId});

    </select>

    <resultMap id="shouYeRiZhi" type="cn.com.yuyang.pojo.Renyuandangan">
        <result property="xingMing" column="xingMing"/>
        <collection property="gongzuojilus" ofType="cn.com.yuyang.pojo.Gongzuojilu">
            <id property="id" column="id"/>
            <result property="leiXing" column="leiXing"/>
            <result property="neiRong" column="neiRong"/>
            <result property="shiJian" column="shiJian"/>
        </collection>
    </resultMap>

    <update id="updateGongGaoDianJi" parameterType="cn.com.yuyang.pojo.Renyuandangan">
        update renyuandangan
        set gongGaoDianJiShiJian=now();

    </update>

    <update id="updateTouXiang" parameterType="cn.com.yuyang.pojo.Renyuandangan">
        update renyuandangan
        set touXiang=#{touXiang}
        where id = #{id};

    </update>
    <insert id="insertRenyuandangan" parameterType="cn.com.yuyang.bean.YuanGongBean">
        insert into renyuandangan
        (xingMing,
         ruZhiShiJian,
         heTongDaoQiShiJian,
         xingBie,
         shengRi,
         jinJiLianXiDianHua,
         xianZhuZhi,
         xueLi,
         youXiang,
         biYeYuanXiao,
         zaiZhiZhuangTai,
         minZu,
         jiGuan,
         shenFenZheng,
         zhengZhiMianMao,
         hunYin,
         nianLing,
         beiZhu,
         zhiWuId,
         buMenId,
         touXiang)
        values (#{xingMing},
                #{ruZhiShiJian},
                #{heTongDaoQiShiJian},
                #{xingBie},
                #{shengRi},
                #{jinJiLianXiDianHua},
                #{xianZhuZhi},
                #{xueLi},
                #{youXiang},
                #{biYeYuanXiao},
                #{zaiZhiZhuangTai},
                #{minZu},
                #{jiGuan},
                #{shenFenZheng},
                #{zhengZhiMianMao},
                #{hunYin},
                #{nianLing},
                #{beiZhu},
                #{zhiWuId},
                #{buMenId},
                #{touXiang});
    </insert>
    <select id="selectId" resultType="java.lang.Long"
            parameterType="cn.com.yuyang.bean.YuanGongBean">
        select id
        from renyuandangan
        where shenFenZheng = #{shenFenZheng};
    </select>


    <delete id="shanchuRenyuandangan" parameterType="cn.com.yuyang.bean.YuanGongBean">
        delete
        from renyuandangan
        where shenFenZheng = #{shenFenZheng}
    </delete>

    <select id="chaXunRenYuan" resultMap="getOneToOneO">
        select bm.buMenMingCheng,ry.xingMing,dl.shouJiHaoMa,ry.jinJiLianXiDianHua,zw.zhiWuMingCheng,bm.id as
        id1,ry.id,ry.buMenId
        from bumen as bm
        join renyuandangan as ry
        join zhiwubiao as zw
        join denglu as dl on bm.id = ry.buMenId and ry.id = dl.dangAnId and ry.zhiWuId = zw.id
        <if test="xingMing != null and xingMing != ''">
            and ry.xingMing like concat(concat('%',#{xingMing}),'%')
        </if>
        <if test="shouJiHaoMa != null and shouJiHaoMa != ''">
            and ry.shouJiHaoMa like concat(concat('%',#{shouJiHaoMa}),'%')
        </if>
    </select>

    <resultMap id="getOneToOneO" type="cn.com.yuyang.pojo.Renyuandangan">
        <id property="id" column="id"/>
        <result property="jinJiLianXiDianHua" column="jinJiLianXiDianHua"/>
        <result property="xingMing" column="xingMing"/>
        <result property="buMenId" column="buMenId"/>
        <association property="zhiwubiao" javaType="cn.com.yuyang.pojo.Zhiwubiao">
            <id property="id" column="id4"/>
            <result property="zhiWuMingCheng" column="zhiWuMingCheng"/>
        </association>
        <association property="denglu" javaType="cn.com.yuyang.pojo.Denglu">
            <id property="id" column="id2"/>
            <result property="dangAnId" column="dangAnId"/>
            <result property="shouJiHaoMa" column="shouJiHaoMa"/>
        </association>
        <association property="bumen" javaType="cn.com.yuyang.pojo.Bumen">
            <id property="id" column="id1"/>
            <result property="buMenMingCheng" column="buMenMingCheng"/>
        </association>
    </resultMap>
</mapper>