<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yuyang.pojo.ZhiwubiaoMapper">
  <resultMap id="quanXian" type="cn.com.yuyang.pojo.Denglu">
    <id column="id" property="id"/>
    <result column="zhuangTai" property="zhuangTai"/>
    <result property="gongHao" column="gongHao"/>
    <association property="renyuandangan" javaType="cn.com.yuyang.pojo.Renyuandangan">
      <result property="xingMing" column="xingMing"/>
      <result property="ruZhiShiJian" column="ruZhiShiJian"/>
      <association property="bumen" javaType="cn.com.yuyang.pojo.Bumen">
        <result property="buMenMingCheng" column="buMenMingCheng"/>
      </association>
      <association property="zhiwubiao" javaType="cn.com.yuyang.pojo.Zhiwubiao">
        <result property="zhiWuMingCheng" column="zhiWuMingCheng"/>
      </association>
    </association>
  </resultMap>
  <select id="selectQuangXian" resultMap="quanXian">
    select denglu.id,zhuangTai,xingMing,gongHao,buMenMingCheng,zhiWuMingCheng,ruZhiShiJian
    from denglu,renyuandangan,bumen,zhiwubiao
    where denglu.dangAnId=renyuandangan.id and buMenId=bumen.id and zhiWuId=zhiwubiao.id
    <choose>
      <when test="xingMing!=null">
        and xingMing = #{xingMing}
      </when>
      <when test="gongHao!=null">
        and gongHao = #{gongHao}
      </when>
      <when test="buMenMingCheng!=null">
        and buMenMingCheng = #{buMenMingCheng}
      </when>
      <when test="zhiWuMingCheng!=null">
        and zhiWuMingCheng = #{zhiWuMingCheng}
      </when>
    </choose>

  </select>

  <select id="selectTest" resultType="cn.com.yuyang.pojo.Denglu">
    select denglu.id
    from denglu,renyuandangan
    where dangAnId = renyuandangan.id and dangAnId IN #{dengluIds}
    <choose>
      <when test="zhuangTai=激活">
        and zaiZhiZhuangTai = '离职' or zaiZhiZhuangTai = '已删除'
      </when>
      <otherwise>
        and zaiZhiZhuangTai = '在职'
      </otherwise>
    </choose>
  </select>

  <update id="update">
    update denglu set zhuangTai = #{zhuangTai} where dangAnId in #{dengluIds}
  </update>
</mapper>